.textColoDanger{
	color: red;
}


.textItalic{
	font-style: italic;
}
.content{
	min-height: 500px;
  
}

.footer-area{
	background: #337AB7;
	text-align: center;
	padding: 20px 0;
	color: #FFFFFF;

}



.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 70%;
  height: 70%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

